
<div class="form-container">
    <form action="/admin/add-product" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <div class="form-row">
            <label for="name">Project Name</label>
            <input type="text" name="name">
        </div>
        <div class="form-row">
            <label for="linkUrl">Project Link</label>
            <input type="text" name="linkUrl" >
        </div>
        <div class="form-row">
            <label for="description">Project Description</label>
            <input type="text" name="description" >
        </div>
        <div class="form-row">
            <label for="imageUrl">Project Image</label>
            <input type="file" name="imageUrl">
        </div>
        <div class="form-row">
            
            <input type="submit" value="Submit Post" >
        </div>


    </form>
</div>