<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/topBar.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/skills.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/about.css">
    <link href='https://fonts.googleapis.com/css?family=Bevan' rel='stylesheet'>
    <link href="//cdn.syncfusion.com/ej2/material.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js"></script>
    <script defer src="/javascripts/hamburger.js"></script>
</head>