<div>
    <div class="subContainer">
        <h2 class="aboutHeader">
            Contact Me
        </h2>
        <div class="linkContainer">
            <a target="_blank" href="https://www.instagram.com/okann_coskunn/"><i
                    class="icon insta fab fa-instagram"></i></a>
            <a target="_blank" href="https://www.linkedin.com/in/okan-co%C5%9Fkun-17098915b/"><i
                    class="icon link fab fa-linkedin"></i></a>
            <a target="_blank" href="https://bionluk.com/okancoskun"><img src="/img/bionluk.png"
                    style="width: 100px; height: 50px;"></a>
        </div>
    </div>
    <div class="subContainer">
        <h2 class="aboutHeader">
            Who Am I?
        </h2>
        <div class="linkContainer" style="width: 300px;">
            <p>
                My name is Okan. I was born in 1998 in Antalya,Turkey.I am 4th grade student at Antalya Bilim
                University. I always try to improve myself day by day. I can be entegrated to new technologies easily.
            </p>
        </div>
    </div>
    <div class="subContainer">
        <h2 class="aboutHeader">
            Job Experiences
        </h2>
        <ul class="timeline">

            <!-- Item 1 -->
            <li>
                <div class="direction-r">
                    <div class="flag-wrapper">
                        <span class="flag">Celadon</span>
                        <span class="time-wrapper"><span class="time">2020</span></span>
                    </div>
                    <div class="desc">Remote Internship as a Mobile App Developer</div>
                </div>
            </li>
          
            <!-- Item 2 -->
            <li>
                <div class="direction-l">
                    <div class="flag-wrapper">
                        <span class="flag">Anex Tour</span>
                        <span class="time-wrapper"><span class="time">2019</span></span>
                    </div>
                    <div class="desc">Web Development Internship in Software Department</div>
                </div>
            </li>
    </div>

</div>