<!-- <div class="sm">
    <a class="icon" href="#"><i class="fab fa-instagram"></i></a>
    <a class="icon" href="#"><i class="fab fa-linkedin-in"></i></a>
</div> -->

<div class="mainDiv">
    <div id="fly-in">
        <div><span>Welcome to</span>My Website</div>
        <div>I'm Okan</div>
        <div>I am <span> Web Developer</span></div>
        <div><span>You can</span>Contact Me</div>
        <div><span>For your</span>Questions</div>
        <div><span>And</span></div>
        <div>Your <span> Business Offers</span></div>
    </div>

</div>