
<div class="mainSkill">
  <h1 class="skills">Skills</h1>
  <div class="skill-container row">

    <div class="col-lg-3 col-sm-12 col-xs-12 cardBox">
      <div class="card">
        <img src="/img/js.jpeg" alt="Avatar">
        <div class="card-container">
          <h4><b>Javascript</b></h4>

        </div>
      </div>
    </div>

    <div class="col-lg-3 col-sm-12 col-xs-12 cardBox">
      <div class="card">
        <img src="/img/node.jpeg" alt="Avatar">
        <div class="card-container">
          <h4><b>NodeJs</b></h4>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-sm-12 col-xs-12 cardBox">
      <div class="card">
        <img src="/img/csharp.jpg" alt="Avatar">
        <div class="card-container">
          <h4><b>C#</b></h4>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-sm-12 col-xs-12 cardBox">
      <div class="card">
        <img src="/img/asp.jpg" alt="Avatar">
        <div class="card-container">
          <h4><b>ASP .NET</b></h4>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-sm-12 col-xs-12 cardBox">
      <div class="card">
        <img src="/img/java.jpg" alt="Avatar">
        <div class="card-container">
          <h4><b>Java</b></h4>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-sm-12 col-xs-12 cardBox">
      <div class="card">
        <img src="/img/reactnative.png" alt="Avatar">
        <div class="card-container">
          <h4><b>React-Native</b></h4>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-sm-12 col-xs-12 cardBox">
      <div class="card">
        <img src="/img/htmlcss.png" alt="Avatar">
        <div class="card-container">
          <h4><b>HTML-CSS</b></h4>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-sm-12 col-xs-12 cardBox">
      <div class="card">
        <img src="/img/python.jpg" alt="Avatar">
        <div class="card-container">
          <h4><b>Python</b></h4>
        </div>
      </div>
    </div>

  </div>

</div>